body {
	background: #171717;
}

.page {
	width: 1095px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 60px 0;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 28px;
	margin-bottom: 96px;
}

.header-right-side {
	display: flex;
	align-items: center;
}

.company-phone {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 29px;
	color: #FFFFFF;
	padding-left: 0;
	margin: 0;
}

.accent-color {
	color: #D6AF76;
}

.company-call {
	display: flex;
	gap: 7.5px;
	align-items: center;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #E4B564;
	border: 1px solid #E4B564;
	padding: 7.5px 18.8px 7.5px 19.5px;
	margin-left: 39px;
}

.call {
	width: 10px;
	height: 10px;
}

.content-block {
	margin: 0 0 120px 0;
}

.content-block:nth-child(1) {
	background-image: url("../images/header-bg.jpeg");
	background-attachment: fixed;
}

.content-block:nth-child(3) {
	background-image: url("../images/parallax-bg.jpeg");
	background-attachment: fixed;
}

.section-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	color: #FFFFFF;
	margin: 0 0 31px 0;
}

.section-subtitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin: 0 0 31px 0;
}

.services {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 351px);
	gap: 20px 26px;
}

.services-item:nth-child(1) {
	background: #634F2C;
	grid-column: 1 / span 2;
}

.services-item:nth-child(2) {
	background: #B4A385;
	grid-column: 3 / span 2;
}

.services-item:nth-child(3) {
	background: #E4B564;
	grid-column: 5 / span 2;
}

.services-item:nth-child(4) {
	background: #635A4A;
	grid-column: auto;
	grid-column: 1 / span 3;
}

.services-item:nth-child(5) {
	background: #B08C4D;
	grid-column: auto;
	grid-column: 4 / span 3;
}

.link-to-services-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	padding: 0 33px;
	width: 100%;
	height: 100%;
}

.techics {
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 24px 30px;
	padding-left: 0;
	height: 700px;
}

.techics-item {
	width: 350px;
}

.techics-item:nth-child(1) {
	background: #0E0E0E;
	height: 235px;
}

.techics-item:nth-child(2) {
	background: #1F1F1F;
	height: 420px;
}

.techics-item:nth-child(3) {
	background: #242424;
	height: 329px;
}

.techics-item:nth-child(4) {
	background: #E4B564;
	height: 304px;
}

.text-black {
	color: #000000;
}

.techics-item:nth-child(5) {
	background: #1F1F1F;
	height: 191px;
}

.techics-item:nth-child(6) {
	background: #0E0E0E;
	height: 235px;
}

.techics-item:nth-child(7) {
	background: #0A0909;
	height: 208px;
}

.link-to-tech-desc {
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
	display: block;
	padding: 33px 39px;
	width: 100%;
	height: 100%;
}

.clients-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 31px;
}

.clients-header .section-title {
	margin-bottom: 0;
}

.projects {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #E4B564;
	border: 1px solid #E4B564;
	padding: 7.5px 30px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 0;
}

.clients {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 293px);
	padding-left: 0;
	margin: 0;
}

.clients-item:nth-child(1) {
	background: #634F2C;
}

.clients-item:nth-child(2) {
	background: rgba(232, 210, 171, 0.76);
}

.clients-item:nth-child(3) {
	background: #E4B564;
}

.clients-item:nth-child(4) {
	background: #635A4A;
}

.clients-item:nth-child(5) {
	background: #B08C4D;
}

.clients-item:nth-child(6) {
	background: #634F2C;
}

.link-to-client {
	text-decoration: none;
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
}

.client-desc {
	display: none;
	font-weight: normal;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	text-align: center;
}

.link-to-client:hover .client-desc {
	display: block;
}

